<h1>施設編集</h1>

<% if @room.errors.any? %>
  <div id="error_explanation" class="flash-alert">
    <h2>施設の更新時に<%= @room.errors.count %>件のエラーが発生しました:</h2>
    <ul>
      <% @room.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @room, data: { turbo: false } do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, '説明' %>
    <%= form.text_area :description, class: "auto-resize-textarea", rows: 10, placeholder: "説明を入力" %>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="file-upload">
    <%= form.label :images, '画像' %>
    <%= form.label :images, '画像を選択', class: 'file-upload-label' %>
    <%= form.file_field :images, multiple: true, accept: 'image/*', class: 'file-upload-input' %>
    <span class="file-upload-text">ファイルを選択してください</span>
  </div>
  <% if @room.images.attached? %>
    <div style="margin-top: 15px;">
      <p>現在の画像:</p>
      <% @room.images.each do |image| %>
        <%= image_tag image, style: 'width: 200px; margin: 5px;' %>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.submit '更新', class: 'btn btn-primary' %>
  </div>
<% end %>