<h1>施設一覧</h1>
<div class="facility-wrapper">
    <%= link_to '＋', new_room_path, class: 'btn-cewateroom' %>
    <p><%= @count.to_i %>件</p>

    <div class="grid-container">
        <% @rooms.each do |room| %>
            <%= link_to room_path(room), class: 'card-link' do %>
            <div class="card">
                <% if room.images.attached? %>
                <%= image_tag room.images.first, class: 'card-image' %>
                <% end %>
                <div class="card-content">
                <h3><%= room.name %></h3>
                <p class=card-content-address><%= room.address %></p>
                <p><%= number_with_delimiter(room.price) %>円 / 泊</p>
                </div>
            </div>
            <% end %>
        <% end %>
    </div>
</div>